html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.map {
    border-collapse: collapse;
}

.map__cell {
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 0;
}
